{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'todolist/style.css' %}" />

{% include "todolist/headlinks.html" %}

<form action="{% url 'todolist:add_ressource' %}" method="post">
  {% csrf_token %}
  <table class="plain-table">
    <tr>
      <td>Type</td>
      <td>Name</td>
      <td>MaxPts</td>
    </tr>
    <tr>
      <td>
	<select name="new_ressource_tag">
	  {% for item in ressource_types %}
	  <option value="{{item.id}}">{{item}}</option>
	  {% endfor %}
	</select>
      </td>
      <td><input type="Text" name="new_ressource_name"/></td>
      <td><input type="Text" size=3 name="new_ressource_maxpts"/></td>
      <td><input type="submit" name="add_ressource_button" value="Add"/> </td>
    </tr>
</table>
</form>

{% if ressouce_items %}
<p>Ressources:</p>

{% else %}
<p>No Ressouces yet.</p>
{% endif %}
