table {
    border-collapse: collapse; 
}

td {
    padding: 5px 0;     /* 10px top & bottom padding, 0px left & right */
    border-width: 1px 0; /*  1px top & bottom border,  0px left & right */
    border-color: #000;
    border-style: solid;
}

table.plain-table td {
    padding: 0;
    border-width: 0;
}

form {
    padding: 0;
}